<div class="w-full px-4 lg:w-5/12 xl:w-4/12">
    <div class="wow fadeInUp rounded-lg bg-white py-10 px-8 shadow-testimonial sm:py-12 sm:px-10 md:p-[60px] lg:p-10 lg:py-12 lg:px-10 2xl:p-[60px]"
        data-wow-delay=".2s
              ">
        <h3 class="mb-8 text-2xl font-semibold md:text-[26px]">
            Send us a Message
        </h3>
        <form>
            <div class="mb-6">
                <label for="fullName" class="block text-xs text-dark">Full Name*</label>
                <input type="text" name="fullName" placeholder="Adam Gelius"
                    class="w-full border-0 border-b border-[#f1f1f1] py-4 focus:border-primary focus:outline-none" />
            </div>
            <div class="mb-6">
                <label for="email" class="block text-xs text-dark">Email*</label>
                <input type="email" name="email" placeholder="example@yourmail.com"
                    class="w-full border-0 border-b border-[#f1f1f1] py-4 focus:border-primary focus:outline-none" />
            </div>
            <div class="mb-6">
                <label for="phone" class="block text-xs text-dark">Phone*</label>
                <input type="text" name="phone" placeholder="+885 1254 5211 552"
                    class="w-full border-0 border-b border-[#f1f1f1] py-4 focus:border-primary focus:outline-none" />
            </div>
            <div class="mb-6">
                <label for="message" class="block text-xs text-dark">Message*</label>
                <textarea name="message" rows="1" placeholder="type your message here"
                    class="w-full resize-none border-0 border-b border-[#f1f1f1] py-4 focus:border-primary focus:outline-none"></textarea>
            </div>
            <div class="mb-0">
                <button type="submit"
                    class="inline-flex items-center justify-center rounded bg-primary py-4 px-6 text-base font-medium text-white transition duration-300 ease-in-out hover:bg-dark">
                    Send Message
                </button>
            </div>
        </form>
    </div>
</div>